# Etude de cas sur l'analyse des ressources humaines
Chaque année, à peu près 15% des employées quitte l'entreprise et doivent être remplacés par des talents disponible sur le marché du travail. Le but ici est de créer un modèle capable de prédire l'attrition d'un employé.

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

import matplotlib.pyplot as plt
from sklearn.metrics import accuracy_score,f1_score,recall_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler, StandardScaler, OneHotEncoder
from sklearn.ensemble import RandomForestClassifier

## Analyse

### Lecture

In [2]:
def read_data(data):
    """Lire un dataframe et afficher la tête"""
    X = pd.read_csv(data)
    print('Number of rows : ', X.shape[0])
    print('Number of columns : ', X.shape[1])
    if 'Unnamed: 0' in X.columns:
        X.drop('Unnamed: 0', axis=1, inplace=True)

    return X

HR_CASE_STUDY = 'hr-analytics-case-study/'

In [3]:
employee_survey = read_data(HR_CASE_STUDY + 'employee_survey_data.csv')
employee_survey.head()

Number of rows :  4410
Number of columns :  4

   EmployeeID  EnvironmentSatisfaction  JobSatisfaction  WorkLifeBalance
0           1                      3.0              4.0              2.0
1           2                      3.0              2.0              4.0
2           3                      2.0              2.0              1.0
3           4                      4.0              4.0              3.0
4           5                      4.0              1.0              3.0

In [4]:
manager_survey = read_data(HR_CASE_STUDY + 'manager_survey_data.csv')
manager_survey.head()

Number of rows :  4410
Number of columns :  3

   EmployeeID  JobInvolvement  PerformanceRating
0           1               3                  3
1           2               2                  4
2           3               3                  3
3           4               2                  3
4           5               3                  3

In [5]:
in_time = read_data(HR_CASE_STUDY + 'in_time.csv')
in_time.head()

Number of rows :  4410
Number of columns :  262

,2015-01-01,2015-01-02,2015-01-05,2015-01-06,2015-01-07,2015-01-08,2015-01-09,2015-01-12,2015-01-13,2015-01-14,...,2015-12-18,2015-12-21,2015-12-22,2015-12-23,2015-12-24,2015-12-25,2015-12-28,2015-12-29,2015-12-30,2015-12-31
0,NaN,2015-01-02 09:43:45,2015-01-05 10:08:48,2015-01-06 09:54:26,2015-01-07 09:34:31,2015-01-08 09:51:09,2015-01-09 10:09:25,2015-01-12 09:42:53,2015-01-13 10:13:06,NaN,...,NaN,2015-12-21 09:55:29,2015-12-22 10:04:06,2015-12-23 10:14:27,2015-12-24 10:11:35,NaN,2015-12-28 10:13:41,2015-12-29 10:03:36,2015-12-30 09:54:12,2015-12-31 10:12:44
1,NaN,2015-01-02 10:15:44,2015-01-05 10:21:05,NaN,2015-01-07 09:45:17,2015-01-08 10:09:04,2015-01-09 09:43:26,2015-01-12 10:00:07,2015-01-13 10:43:29,NaN,...,2015-12-18 10:37:17,2015-12-21 09:49:02,2015-12-22 10:33:51,2015-12-23 10:12:10,NaN,NaN,2015-12-28 09:31:45,2015-12-29 09:55:49,2015-12-30 10:32:25,2015-12-31 09:27:20
2,NaN,2015-01-02 10:17:41,2015-01-05 09:50:50,2015-01-06 10:14:13,2015-01-07 09:47:27,2015-01-08 10:03:40,2015-01-09 10:05:49,2015-01-12 10:03:47,2015-01-13 10:21:26,NaN,...,2015-12-18 10:15:14,2015-12-21 10:10:28,2015-12-22 09:44:44,2015-12-23 10:15:54,2015-12-24 10:07:26,NaN,2015-12-28 09:42:05,2015-12-29 09:43:36,2015-12-30 09:34:05,2015-12-31 10:28:39
3,NaN,2015-01-02 10:05:06,2015-01-05 09:56:32,2015-01-06 10:11:07,2015-01-07 09:37:30,2015-01-08 10:02:08,2015-01-09 10:08:12,2015-01-12 10:13:42,2015-01-13 09:53:22,NaN,...,2015-12-18 10:17:38,2015-12-21 09:58:21,2015-12-22 10:04:25,2015-12-23 10:11:46,2015-12-24 09:43:15,NaN,2015-12-28 09:52:44,2015-12-29 09:33:16,2015-12-30 10:18:12,2015-12-31 10:01:15
4,NaN,2015-01-02 10:28:17,2015-01-05 09:49:58,2015-01-06 09:45:28,2015-01-07 09:49:37,2015-01-08 10:19:44,2015-01-09 10:00:50,2015-01-12 10:29:27,2015-01-13 09:59:32,NaN,...,2015-12-18 09:58:35,2015-12-21 10:03:41,2015-12-22 10:10:30,2015-12-23 10:13:36,2015-12-24 09:44:24,NaN,2015-12-28 10:05:15,2015-12-29 10:30:53,2015-12-30 09:18:21,2015-12-31 09:41:09

In [6]:
out_time = read_data(HR_CASE_STUDY + 'out_time.csv')
out_time.head()

Number of rows :  4410
Number of columns :  262

,2015-01-01,2015-01-02,2015-01-05,2015-01-06,2015-01-07,2015-01-08,2015-01-09,2015-01-12,2015-01-13,2015-01-14,...,2015-12-18,2015-12-21,2015-12-22,2015-12-23,2015-12-24,2015-12-25,2015-12-28,2015-12-29,2015-12-30,2015-12-31
0,NaN,2015-01-02 16:56:15,2015-01-05 17:20:11,2015-01-06 17:19:05,2015-01-07 16:34:55,2015-01-08 17:08:32,2015-01-09 17:38:29,2015-01-12 16:58:39,2015-01-13 18:02:58,NaN,...,NaN,2015-12-21 17:15:50,2015-12-22 17:27:51,2015-12-23 16:44:44,2015-12-24 17:47:22,NaN,2015-12-28 18:00:07,2015-12-29 17:22:30,2015-12-30 17:40:56,2015-12-31 17:17:33
1,NaN,2015-01-02 18:22:17,2015-01-05 17:48:22,NaN,2015-01-07 17:09:06,2015-01-08 17:34:04,2015-01-09 16:52:29,2015-01-12 17:36:48,2015-01-13 18:00:13,NaN,...,2015-12-18 18:31:28,2015-12-21 17:34:16,2015-12-22 18:16:35,2015-12-23 17:38:18,NaN,NaN,2015-12-28 17:08:38,2015-12-29 17:54:46,2015-12-30 18:31:35,2015-12-31 17:40:58
2,NaN,2015-01-02 16:59:14,2015-01-05 17:06:46,2015-01-06 16:38:32,2015-01-07 16:33:21,2015-01-08 17:24:22,2015-01-09 16:57:30,2015-01-12 17:28:54,2015-01-13 17:21:25,NaN,...,2015-12-18 17:02:23,2015-12-21 17:20:17,2015-12-22 16:32:50,2015-12-23 16:59:43,2015-12-24 16:58:25,NaN,2015-12-28 16:43:31,2015-12-29 17:09:56,2015-12-30 17:06:25,2015-12-31 17:15:50
3,NaN,2015-01-02 17:25:24,2015-01-05 17:14:03,2015-01-06 17:07:42,2015-01-07 16:32:40,2015-01-08 16:53:11,2015-01-09 17:19:47,2015-01-12 17:13:37,2015-01-13 17:11:45,NaN,...,2015-12-18 17:55:23,2015-12-21 16:49:09,2015-12-22 17:24:00,2015-12-23 17:36:35,2015-12-24 16:48:21,NaN,2015-12-28 17:19:34,2015-12-29 16:58:16,2015-12-30 17:40:11,2015-12-31 17:09:14
4,NaN,2015-01-02 18:31:37,2015-01-05 17:49:15,2015-01-06 17:26:25,2015-01-07 17:37:59,2015-01-08 17:59:28,2015-01-09 17:44:08,2015-01-12 18:51:21,2015-01-13 18:14:58,NaN,...,2015-12-18 17:52:48,2015-12-21 17:43:35,2015-12-22 18:07:57,2015-12-23 18:00:49,2015-12-24 17:59:22,NaN,2015-12-28 17:44:59,2015-12-29 18:47:00,2015-12-30 17:15:33,2015-12-31 17:42:14

In [17]:
general_data = read_data(HR_CASE_STUDY + 'general_data_fr.csv')
general_data.head()

Number of rows :  4410
Number of columns :  25

,age,attrition,voyageDeTravail,departement,distanceEntreMaison,nivEtude,filiereEtude,nombreEmploye,idEmploye,sexe,...,nbrAncienEntreprise,plusDe18,pourcAugmentationDeSalaire,heureStandard,nivCompensation,anneeExperience,nbrFormationAnneeDerniere,anneeAncienete,anneeDernierPromotion,anneeAvecManager
0,51,Non,Voyage rarement,Ventes,6,2,Sciences de la vie,1,1,Femme,...,1.0,O,11,8,0,1.0,6,1,0,0
1,31,Oui,Voyage frequemment,Recherche et Developpement,10,1,Sciences de la vie,1,2,Femme,...,0.0,O,23,8,1,6.0,3,5,1,4
2,32,Non,Voyage frequemment,Recherche et Developpement,17,4,Autre,1,3,Homme,...,1.0,O,15,8,3,5.0,2,5,0,3
3,38,Non,Aucun voyage,Recherche et Developpement,2,5,Sciences de la vie,1,4,Homme,...,3.0,O,11,8,3,13.0,5,8,7,5
4,32,Non,Voyage rarement,Recherche et Developpement,10,1,Medecine,1,5,Homme,...,4.0,O,12,8,2,9.0,2,6,0,4

### Analyse de General data

In [18]:
gen_cat_vars = general_data.drop('attrition', axis=1).select_dtypes(include=['object']).columns.tolist()
print('Liste des caractéristiques categoriques  : ', gen_cat_vars)
print('Nombre des caractéristiques categoriques : ', len(gen_cat_vars))

Liste des caractéristiques categoriques  :  ['voyageDeTravail', 'departement', 'filiereEtude', 'sexe', 'roleTravail', 'etatMatrimonial', 'plusDe18']
Nombre des caractéristiques categoriques :  7

In [19]:
gen_num_vars = general_data.select_dtypes(exclude=['object']).columns.tolist()
print('Liste des caractéristiques numériques  : ', gen_num_vars)
print('Nombre des caractéristiques numériques : ', len(gen_num_vars))

Liste des caractéristiques numériques  :  ['age', 'distanceEntreMaison', 'nivEtude', 'nombreEmploye', 'idEmploye', 'nivTravail', 'revenuMensuel', 'nbrAncienEntreprise', 'pourcAugmentationDeSalaire', 'heureStandard', 'nivCompensation', 'anneeExperience', 'nbrFormationAnneeDerniere', 'anneeAncienete', 'anneeDernierPromotion', 'anneeAvecManager']
Nombre des caractéristiques numériques :  16

In [20]:
gen_col_na = general_data.columns[general_data.isnull().sum() > 0].tolist()
print('Les colonnes ayant au moin une valeur vide : ', gen_col_na)
print('Nombre de valeur vide avec pour chaque colonne')
general_data[gen_col_na].isnull().sum()

Les colonnes ayant au moin une valeur vide :  ['nbrAncienEntreprise', 'anneeExperience']
Nombre de valeur vide avec pour chaque colonne

nbrAncienEntreprise    19
anneeExperience         9
dtype: int64

## Feature engineering

In [21]:
def label_travel(x):
    if x=="Voyage_Rarement":
        return 1
    if x=="Voyage_Frequemment":
        return 2
    if x=="Pas-Voyage":
        return 0
    return 0

general_data['attrition'] = [1 if a=="Oui" else 0 for a in general_data['attrition']]
general_data['revenuMensuel'] = np.log10(general_data['revenuMensuel'].values)
general_data['voyageDeTravail'] = list(map(label_travel,general_data['voyageDeTravail'].values))
gen_cat_vars.remove('voyageDeTravail')
gen_num_vars.remove('idEmploye')
general_data = general_data.fillna(0)
general_data.head()

,age,attrition,voyageDeTravail,departement,distanceEntreMaison,nivEtude,filiereEtude,nombreEmploye,idEmploye,sexe,...,nbrAncienEntreprise,plusDe18,pourcAugmentationDeSalaire,heureStandard,nivCompensation,anneeExperience,nbrFormationAnneeDerniere,anneeAncienete,anneeDernierPromotion,anneeAvecManager
0,51,0,0,Ventes,6,2,Sciences de la vie,1,1,Femme,...,1.0,O,11,8,0,1.0,6,1,0,0
1,31,1,0,Recherche et Developpement,10,1,Sciences de la vie,1,2,Femme,...,0.0,O,23,8,1,6.0,3,5,1,4
2,32,0,0,Recherche et Developpement,17,4,Autre,1,3,Homme,...,1.0,O,15,8,3,5.0,2,5,0,3
3,38,0,0,Recherche et Developpement,2,5,Sciences de la vie,1,4,Homme,...,3.0,O,11,8,3,13.0,5,8,7,5
4,32,0,0,Recherche et Developpement,10,1,Medecine,1,5,Homme,...,4.0,O,12,8,2,9.0,2,6,0,4

## Créer le modèle

In [23]:
y = general_data['attrition']
X = general_data.drop('attrition', axis=1)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.2, random_state=20)

### One hot encoding

In [24]:
encoder = OneHotEncoder(sparse=False, handle_unknown='ignore')
X_enc = encoder.fit_transform(X_train[gen_cat_vars])
X_train_cat = pd.DataFrame(X_enc, columns=encoder.get_feature_names_out(), index=X_train.index)

X_train = pd.concat([X_train_cat, X_train[gen_num_vars]], axis=1)
X_train.head()

,departement_Recherche et Developpement,departement_Ressources Humaines,departement_Ventes,filiereEtude_Autre,filiereEtude_Diplome Polytechnique,filiereEtude_Marketing,filiereEtude_Medecine,filiereEtude_Ressources Humaine,filiereEtude_Sciences de la vie,sexe_Femme,...,revenuMensuel,nbrAncienEntreprise,pourcAugmentationDeSalaire,heureStandard,nivCompensation,anneeExperience,nbrFormationAnneeDerniere,anneeAncienete,anneeDernierPromotion,anneeAvecManager
1130,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,4.793022,5.0,17,8,1,9.0,5,5,1,2
187,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,5.080302,3.0,11,8,0,37.0,5,10,7,7
3106,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,4.799754,3.0,12,8,1,32.0,3,1,0,0
2080,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,4.371253,1.0,16,8,0,6.0,4,6,3,3
1035,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,4.353724,4.0,18,8,0,7.0,2,3,1,2

In [25]:
X_test_enc = encoder.transform(X_test[gen_cat_vars])
X_test_cat = pd.DataFrame(X_test_enc, columns=encoder.get_feature_names_out(), index=X_test.index)

X_test = pd.concat([X_test_cat, X_test[gen_num_vars]], axis=1)
X_test.head()

,departement_Recherche et Developpement,departement_Ressources Humaines,departement_Ventes,filiereEtude_Autre,filiereEtude_Diplome Polytechnique,filiereEtude_Marketing,filiereEtude_Medecine,filiereEtude_Ressources Humaine,filiereEtude_Sciences de la vie,sexe_Femme,...,revenuMensuel,nbrAncienEntreprise,pourcAugmentationDeSalaire,heureStandard,nivCompensation,anneeExperience,nbrFormationAnneeDerniere,anneeAncienete,anneeDernierPromotion,anneeAvecManager
913,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,4.560265,3.0,16,8,2,10.0,0,4,0,3
2163,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,4.442950,1.0,11,8,0,19.0,3,19,11,9
3819,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,4.986996,1.0,18,8,2,4.0,3,4,1,3
834,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,4.553883,4.0,20,8,1,8.0,1,5,0,3
1745,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,4.709779,5.0,18,8,0,20.0,2,18,1,12

In [26]:
rfc = RandomForestClassifier()
rfc.fit(X_train, y_train)
y_pred = rfc.predict(X_test)
print("ACC:",accuracy_score(y_test, y_pred))
print("recall:",recall_score(y_test, y_pred))
print("F1:",f1_score(y_test, y_pred))

ACC: 0.9931972789115646
recall: 0.9602649006622517
F1: 0.9797297297297297